body {
    margin:0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}


#head_name > p {
    color:white;
}


footer {
    background-color: red;
    height: 10vh;
}

#sec-projects {
    display: grid;
    grid: 200px 200px 200px / 200px 200px 200px;
    border: 2px solid yellow;
}

#sec-projects > div {
    border: 2px solid red;
}